<h1>About Me</h1>
<p>I am a seasoned web developer with a background in Computer Science...</p>
<h3>Skills:</h3>
<ul>
  <li>Ruby on Rails</li>
  <li>JavaScript</li>
  <li>HTML & CSS</li>
  <li>And more...</li>
</ul>
<h3>Education:</h3>
<p>B.Sc. in Computer Science...</p>
